.issi-open { border:0; padding:0; background:none; width:26px; height:40px; position:relative; margin-left:-26px; z-index:10; cursor:pointer; opacity:0.5; display:none;
	&:hover { opacity:1; }
	&:focus { outline:none; }
	i { float:none !important; }
}
.vex.vex-theme-default .issi-vex { width:800px !important; background:#fff !important; font-size:16px;
	.issi-head { color:#50739b; font-size:20px; padding-bottom:8px; border-bottom:1px solid #d9e1ea; }
	.InputfieldContent { padding:0; }
	// AOS button gets focused by default, which looks a bit strange
	.aos_pagelist_unselect:focus { outline:none; }
}
